@page
@model Admin.EndPoint.Pages.Users.EditModel
@{
}

<div class="statbox widget box box-shadow">
    <div class="widget-header">
        <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                <h4>ویرایش کاربر </h4>
            </div>
        </div>
    </div>

 @*    <div class="widget-content widget-content-area">
        @foreach (var item in Model.Messages)
        {
            <div class="alert alert-info">
                <p>@item</p>
            </div>
        }
    </div> *@
    <div class="widget-content widget-content-area">
        <form asp-page="edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-4">
                <label for="roleDropdown">ایمیل</label>
                <input type="text" class="form-control" id="rEmail" asp-for="ViewModel.Email">
                <span asp-validation-for="ViewModel.Email" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ViewModel.Id" />

            <div class="form-group mb-4">
                <label for="roleDropdown">نام و نام خانوادگی</label>
                <input type="text" class="form-control" id="rEmail" asp-for="ViewModel.FullName">
                <span asp-validation-for="ViewModel.FullName" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label for="roleDropdown">شماره موبایل</label>
                <input type="text" class="form-control" id="rEmail" asp-for="ViewModel.PhoneNumber">
                <span asp-validation-for="ViewModel.PhoneNumber" class="text-danger"></span>
            </div>

            <div> class="form-group mb-4">
            <label for="roleDropdown">نقش ها</label>
                <select id="roleDropdown" asp-for="ViewModel.RoleId" class="form-control">
                @foreach (var role in Model.Roles)
                {
                        <option value="@role.Id">@role.Name</option>
                }
            </select>
            </div>
    

            <input type="submit" value="ثبت" class="btn btn-primary" />
            <a asp-page="index" class="btn btn-info">برگشت به لیست</a>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var message = '@TempData["Message"]';
            var messageType = '@TempData["MessageType"]';

            if (message) {
                Swal.fire({
                    title: messageType === 'success' ? 'موفقیت!' : 'خطا!',
                    text: message,
                    icon: messageType,
                    confirmButtonText: 'باشه'
                }).then((result) => {
                    // If the message type is success, redirect to the index page
                    if (result.isConfirmed && messageType === 'success') {
                        window.location = '/Index'; // Replace with your Index page path if necessary
                    }
                    // If the message type is error, stay on the same page
                });
            }
        });
    </script>
}
